$lightBrown: #e2d6c9;
$lightBlue: #608699;
$darkBlue: #405c71;
$lightPurple: #9fa5c1;
$lightGreen: 	#b6c19f;
$lightRed: #e2cac9;

@import 'template';
@import 'grid';
@import 'mixins';

html{
  font-size: 1em;
}

.hide-small{
  display: none;
}

body{
  font-family: 'PT Sans', Helvetica, sans-serif;
}

.wrapper {
  margin: 10px;
  @include mobile-L {
    margin: 0 20px;
  }
  @include desktop-S {
    margin: 0 120px;
  }
}

.stylebar {
  width: 100px;
  height: 5px;
  background-color: $lightBrown;
  margin-bottom: 10px;
}

header {
  background-color: $darkBlue;
  color: #FFF;
  margin-bottom: 10px;

  .container{
    margin: 0 20px;
  }
  h1{
    margin-top: 10px;
    font-weight: normal;
  }
  nav{
    padding: 5px 5px;
  }
  a{
    background-color: #365267;
    height: 100%;
    border-bottom: none;
    text-decoration: none;
    color: #FFF;
    padding: 10px 20px;
    border: 2px solid $darkBlue;
    border-bottom: none;
    transition: 0.3s
  }
  a:hover{
    background-color: #FFF;
    color: $darkBlue;
  }

  @include mobile-L {
    .grid-nav {
      grid-template-columns: repeat(4, 1fr);
    }
    .hide-small{
      display: inline;
    }
  }
}


.about {
  padding: 10px;
  .content {
    box-shadow: 2px 2px 1px 1px  rgba($color: #000000, $alpha: 0.2);
  }

  p {
    margin-bottom: 5px;
    line-height: 1.3;
  }
}

.education {
  padding: 10px;

  .flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .flex-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      line-height: 1.4em;
        align-items: center;
      svg {
        width: 50px;
        height: 50px;
      }

    }
  }
  
  @include mobile-L {
    .flex-container {
      flex-direction: row;
      font-size: 1.1em;
    }
  }
}

footer {
  display: flex;
  background-color: rgba(0,0,0, 0.2);
  align-items: center;
  justify-content: flex-end;
  height: 6vh;
  p{
    margin: 10px;
  }
  .contact{
    display: flex;
    flex-basis: 2;
    justify-content: space-between;
    fill: #000000;
    transition: 0.5ms;
    svg{
      width: 30px;
      margin-right: 10px;
    }
    svg:hover {
      fill: #FFF;
    }
  }


  @include mobile-L {
    position: fixed;
    bottom:0;
    width: 100%;
  }
}

